.about-section {
  border: 1rem;
  border-color: aliceblue;
  border-radius: 2rem;
  background-color: rgb(10, 5, 22);
  padding: 3rem;
    /* Add specific styles for the About component */
  }

  .about-section p{
    font-size: 16;
    font-weight: 600;
  }

  /* .holographic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
  } */
  
  .holographic-card {
    width: 60%;
    height: 200px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
  }
  
  .holographic-card h2 {
    color: #0ff;
    font-size: 2rem;
    position: relative;
    z-index: 2;
  }
  
  .holographic-card::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 250%;
    height: 250%;
    background: linear-gradient(
      0deg, 
      transparent, 
      transparent 30%, 
      rgba(0,255,255,0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
  }
  
  .holographic-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(200%);
  }