.footer {
  position: sticky;
  background-color: transparent;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  z-index: 10;
}

.footer-item {

  align-items: center;
  text-align: center;
  color: #ffffff;
  
}

.footer-item a{
  color: #fff;
}
.footer-item a:hover{
  color:  rgba(0, 255, 255, 0.9);
}



